WTForms==2.2.1
Flask_WTF==0.14.3
Flask_Moment==0.9.0
Flask_SQLAlchemy==2.4.1
Flask==1.0.2
Flask_Migrate==2.5.3
Babel==2.9.1
SQLAlchemy==1.3.15
alembic==1.4.2
Werkzeug==0.15.5
Fabric==2.5.0
python_dateutil==2.8.1
